<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Update password</title>
    </head>
    <body>
        <form id="pswd-change-form">
            <label> New Password</label>
            <input name="password" required type="text" />
            <label> Confirm Password </label>
            <input name="confirmpassword" required type="text" />
            <button type="submit">Update</button>
        </form>
        <script>
            const form = document.getElementById("pswd-change-form");
            form.addEventListener("submit", (event) => {
                event.preventDefault();

                const formData = new FormData(form);

                let pswd = formData.get("password");
                let confirmpswd = formData.get("confirmpassword");

                if (!pswd || pswd !== confirmpswd) {
                    return alert("Passwords are not matching, retry!");
                }

                fetch(`<%= url %>&password=${pswd}`, {
                    method: "POST",
                })
                    .then((res) => res.json())
                    .then((d) => alert(d.message))
                    .catch((e) => {
                        alert("Error:" + e);
                    });
            });
        </script>
    </body>
</html>
